.herobanner_outer_div {
    padding-top: 200px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.herobanner_h1_heading {
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(98deg, #000000 43.06%, #8f8f8f 91.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    line-height: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    letter-spacing: -3.04px;
}

.herobanner_paragraph_below_h1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    margin: 0 auto;
    background: linear-gradient(98deg, #646464 43.06%, #858585 91.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 34px;
    letter-spacing: -0.69px;
}

.herobanner_get_started_button {
    font-weight: 650;
    font-size: 21px;
    font-family: Inter, sans-serif;
    line-height: 24px;
    letter-spacing: -.36px;
    background-color: black;
    padding: 14px 45px;
    color: white;
    border-radius: 17px;
    height: 67px;
    width: 325px;
}

.herobanner_get_started_button_outer_div1 {
    background: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 18px
}

.herobanner_get_started_button_outer_div2 {
    padding: 3px;
    border-radius: 21px;
    position: relative;
    overflow: hidden;
}

.herobanner_get_started_button_outer_div2::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: conic-gradient(rgb(0, 145, 255), rgb(255, 2, 240), rgb(247, 104, 8), rgb(102, 71, 240), rgb(0, 145, 255) 1turn);
    width: 500px;
    height: 500px;
    z-index: -1;
    animation: rotateOuterDivForHeroBannerButton 2s infinite linear;
}

@keyframes rotateOuterDivForHeroBannerButton {
    from {
        transform: translate(-50%, -50%) rotate(0deg) ;
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}